h1{
    float: left;}
nav {
    background-color: white;
    box-shadow: 3px 3px 5px darkgray;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*background-position: top,right;
    align-items: flex-start;*/
    font-size: 22px;
    /*gap: 25px;*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

a{
    margin-right: 30px;
    text-decoration: none;
    color:rgb(72, 70, 70);
    font-size: 22px;}

.home{
    display: flex;
    gap: 7px;}

.service{
    display: flex;
    gap: 7px;}
.booking{
    display: flex;
    gap: 7px;}
.contact{
    display: flex;
    gap: 6px;}
.feedback{
    display: flex;
    gap: 6px;}

#star{
    /*text-align: center;
    transition: all;
    padding: 10px;
    margin: 5px;
    margin-top: 0%;
    border-color: rgb(75, 73, 73);
    border-radius: 5px;*/
    background-color:cornflowerblue;
    height: 1pc;
    width: 245px;}

h3{
    clear: both;
}

#doctors{
    size: 20px;
    float: left;
}
div p{
    float: left;
}