*{
    padding: 0;
}
nav {
    background-color: white;
    box-shadow: 3px 3px 5px darkgray;
    border-radius: 10px;}
 nav ul{ 
    width: 100%; 
    list-style: none; 
    display: flex;
    justify-content:space-evenly;
    align-items: center;}

nav li{
    height: 70px; ;
    font-size: 22px;
    /*gap: 25px;*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

a{
    height: 100%;
    /*padding: 0 30px;*/
    margin-right: 30px;
    text-decoration: none;
    color:rgb(72, 70, 70);
    font-size: 22px;}

.home{
    height:50% ;
    display: flex;
    gap: 4px;}

.service{
    height: 50%;
    display: flex;
    gap: 7px;}
.booking{
    height: 50%;
    display: flex;
    gap: 7px;}
.contact{
    height: 50%;
    display: flex;
    gap: 5px;}
.feedback{
    height: 50%;
    display: flex;
    gap: 6px;}

.logo{
    margin-right: auto;}
span{
    color: rgb(72, 119, 207);}   
.star{
    /*text-align: center;
    transition: all;
    padding: 10px;
    margin: 5px;
    margin-top: 0%;
    border-color: rgb(75, 73, 73);*/
    margin-right:auto ;
    display: flex;
    align-items:baseline;
    background-color:cornflowerblue;
    height: 1pc;
    width: 245px;}

#image_box{
    display: grid;
    grid-template-columns: auto,1fr;
    grid-template-rows: auto,1fr,auto;
    grid-template-areas: 
    "image title"
    "image west"
    "image bouton";
}
img{
    grid-area: image;
}
/*#description{
    grid-area: texte;
    border: 8px,solid,black;
    text-align: center;
    display: grid;
    grid-template-rows: auto,1fr,auto;
    grid-template-areas: 
    "title"
    "west"
    "bouton";
}*/

#description h1{
    grid-area: title;
    text-align: center;
    color: rgb(130, 127, 127);}
#description p{
    grid-area: west;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bolder;
    text-align: center;
    font-size: 27px;
}
#description div{
    grid-area: bouton;
    box-sizing: 10px,8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#doctors{
   grid-area: image;

}