*{
    padding: 0;
}
nav {
    background-color: white;
    box-shadow: 3px 3px 5px darkgray;
    border-radius: 10px;}
 nav ul{ 
    width: 100%; 
    list-style: none; 
    display: flex;
    justify-content:space-evenly;
    align-items: center;}

nav li{
    height: 70px; ;
    font-size: 22px;
    /*gap: 25px;*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

a{
    height: 100%;
    /*padding: 0 30px;*/
    margin-right: 30px;
    text-decoration: none;
    color:rgb(72, 70, 70);
    font-size: 22px;}

.home{
    height:50% ;
    display: flex;
    gap: 4px;}

.service{
    height: 50%;
    display: flex;
    gap: 7px;}
.booking{
    height: 50%;
    display: flex;
    gap: 7px;}
.contact{
    height: 50%;
    display: flex;
    gap: 5px;}
.feedback{
    height: 50%;
    display: flex;
    gap: 6px;}

#logo{
    margin-right: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: fluo1;}

#logo .star1{
    /*text-align: center;
    transition: all;
    padding: 10px;
    margin: 5px;
    margin-top: 0%;
    border-color: rgb(75, 73, 73);
    margin-right:auto ;*/
    grid-area: fluo1;
    align-items:center;
    justify-content: center;
    background-color:rgb(186, 183, 183);
    height: 30px;
    width: 250px;}

#logo h1{
    grid-area: fluo1;}

#image_box{/* lgrid bkolou*/
    display: grid;
    grid-template-columns: 1fr,auto;
    grid-template-rows: auto,1fr,auto;
    grid-template-areas: 
    "title title_img"
    "west image"
    "bouton image";}

#image_box #imgs #title_img{ /*hedhi mtaa stay safe bch naksamha ala satrin w nhighliti safe w healthy*/
    grid-area: title_img;
    color: rgb(46, 45, 64);
    font-size: 60px;
    font-family:'cursive';
    word-spacing: 4px;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "first_half"
    "second_half";}

#image_box #imgs #title_img #safe{
    grid-area: first_half;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: fluo2;
    height: 80px;
    }

#image_box #imgs #title_img #safe #part1{
    margin-left: 0px; 
    margin-top: 0px;
    grid-area: fluo2;
    font-family: fantasy;}

#image_box #imgs #title_img #safe #high1{
    margin-left: 0px; 
    margin-top: 0px;
    grid-area: fluo2;
    color:black ;}

#image_box #imgs #title_img .white{
    background-color: white;
}

#image_box #imgs #title_img #healthy{

    grid-area: second_half;
    margin-left: auto;
    
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: fluo3;
    height: 80px;}

#image_box #imgs #title_img #healthy #part2{
    margin-top: 0px;
    grid-area: fluo3;
    font-family: fantasy;}

#image_box #imgs #title_img #healthy #high2{
    margin-top: 0px;
    grid-area: fluo2;
    color:black ;}


#image_box #imgs #title_img #high1{
    height: 40px;
    width: 240px;
    background-color: rgb(168, 224, 224);}

#image_box #imgs #title_img #high2{
    height: 40px;
    width: 310px;
    background-color: rgb(168, 224, 224);}

#image_box #imgs #title_img #healthy{
    grid-area: second_half;
}


#image_box #imgs #doctors{/*ltaswira*/
        grid-area: image;
        border-radius: 15px;}

/*tawa partie description li alisar*/
#image_box #description h1{
    grid-area: title;
    text-align: center;}

#image_box #description #content{
    grid-area: west;
    /*height: max-content;
    text-align: center;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    font-family:'Times New Roman', Times, serif;
    color: gray;
    font-size: 20px;}

#image_box #description a button{
    grid-area: bouton;
    /*height: 20px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;*/}
h1 span{
    color: rgb(11, 34, 77);
}
.cornflower{
    color: rgb(67, 105, 176);
}

/*#description{
    grid-area: texte;
    border: 8px,solid,black;
    text-align: center;
    display: grid;
    grid-template-rows: auto,1fr,auto;
    grid-template-areas: 
    "title"
    "west"
    "bouton";
}*/